flows.json
[{"id":"c7e0877b.ffca18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"98d22230.276ca","type":"ibmiot out","z":"c7e0877b.ffca18","authentication":"apiKey","apiKey":"add3c906.8847a8","outputType":"cmd","deviceId":"00001","deviceType":"firstDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":240,"wires":[]},{"id":"dfeef6df.961828","type":"ui_form","z":"c7e0877b.ffca18","name":"","label":"","group":"3dab1574.93b12a","order":1,"width":22,"height":1,"options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Gender(m/f)","value":"Gender","type":"text","required":true,"rows":null},{"label":"Date of journey","value":"Date","type":"date","required":true,"rows":null},{"label":"starts from ","value":"origin","type":"text","required":true,"rows":null},{"label":"ends at","value":"destination","type":"text","required":true,"rows":null},{"label":"Class type","value":"class","type":"text","required":true,"rows":null},{"label":"Train number","value":"trainNo","type":"number","required":true,"rows":null},{"label":"Time of departure","value":"traintime","type":"time","required":true,"rows":null}],"formValue":{"Name":"","Age":"","Gender":"","Date":"","origin":"","destination":"","class":"","trainNo":"","traintime":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":300,"wires":[["98d22230.276ca","6d094112.dbb02","2570330b.2f7a1c","193f63c4.f907ac"]]},{"id":"6d094112.dbb02","type":"debug","z":"c7e0877b.ffca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"8533649c.068cc8","type":"inject","z":"c7e0877b.ffca18","name":"GPS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Train\",\"lat\":16.5131,\"lon\":80.5165}","payloadType":"json","x":210,"y":560,"wires":[["84519048.017d3","10ded224.676dfe"]]},{"id":"84519048.017d3","type":"worldmap","z":"c7e0877b.ffca18","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":500,"y":560,"wires":[]},{"id":"10ded224.676dfe","type":"ui_worldmap","z":"c7e0877b.ffca18","d":true,"group":"aeb3d8e2.a823b8","order":3,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap2","x":490,"y":620,"wires":[]},{"id":"1aec66fc.b11739","type":"qrcode-generator","z":"c7e0877b.ffca18","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#1c1717","printstatus":true,"x":530,"y":420,"wires":[["6d094112.dbb02","bdd148fc.33c658","2570330b.2f7a1c"]]},{"id":"9cab3aa4.b035c8","type":"inject","z":"c7e0877b.ffca18","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"100","topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["2018971a.d4ab88"]]},{"id":"ebf25bed.2f4198","type":"function","z":"c7e0877b.ffca18","name":"","func":"var a=msg.payload\nmsg.qrcodeinput = a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["1aec66fc.b11739","ec2e646c.a914d8"]]},{"id":"bdd148fc.33c658","type":"ui_template","z":"c7e0877b.ffca18","group":"3dab1574.93b12a","name":"","order":3,"width":"4","height":"4","format":"<img src={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":420,"wires":[[]]},{"id":"2018971a.d4ab88","type":"debug","z":"c7e0877b.ffca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"ec2e646c.a914d8","type":"debug","z":"c7e0877b.ffca18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":520,"wires":[]},{"id":"2570330b.2f7a1c","type":"cloudant out","z":"c7e0877b.ffca18","name":"","cloudant":"","database":"railways","service":"node-red-viive-2021--cloudant-1625752177896-35790","payonly":false,"operation":"insert","x":600,"y":300,"wires":[]},{"id":"3a93cf3f.4a33","type":"ibmiot in","z":"c7e0877b.ffca18","authentication":"apiKey","apiKey":"add3c906.8847a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"00001","applicationId":"","deviceType":"firstDevice","eventType":"+","commandType":"cmd","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":40,"wires":[["60a083aa.c0d47c"]]},{"id":"60a083aa.c0d47c","type":"debug","z":"c7e0877b.ffca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":40,"wires":[]},{"id":"a70814eb.fbbf38","type":"http in","z":"c7e0877b.ffca18","name":"","url":"/BookTickets","method":"get","upload":false,"swaggerDoc":"","x":240,"y":160,"wires":[["70f0586f.04a088","dbdae0b3.e7665","98d22230.276ca"]]},{"id":"70f0586f.04a088","type":"debug","z":"c7e0877b.ffca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":120,"wires":[]},{"id":"dbdae0b3.e7665","type":"http response","z":"c7e0877b.ffca18","name":"","statusCode":"","headers":{},"x":450,"y":180,"wires":[]},{"id":"193f63c4.f907ac","type":"json","z":"c7e0877b.ffca18","name":"","property":"payload","action":"","pretty":false,"x":290,"y":360,"wires":[["ebf25bed.2f4198"]]},{"id":"add3c906.8847a8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3dab1574.93b12a","type":"ui_group","name":"Booking Portal","tab":"443445f5.56bdac","order":1,"disp":true,"width":22,"collapse":false},{"id":"aeb3d8e2.a823b8","type":"ui_group","name":"Map","tab":"4f15d708.74f3c8","order":1,"disp":true,"width":"19","collapse":false},{"id":"443445f5.56bdac","type":"ui_tab","name":"Smart Solutions for Railways","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f15d708.74f3c8","type":"ui_tab","name":"Book Tickets","icon":"dashboard","disabled":false,"hidden":false}]